In [11]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.decomposition import PCA
from sklearn.preprocessing import MinMaxScaler

In [28]:
Lista = pd.read_csv("planta_1.csv")

In [33]:
pd.read_excel?

In [30]:
Lista.shape

(100, 1)

In [31]:
Lista.head(10)

          t;entrada;salida
0 01;0;0               4.0
  02;0;0               3.0
  03;0;0               4.0
  04;0;0               3.0
  05;0;0               4.0
  06;0;0               3.0
  07;0;0               3.0
  08;0;0               5.0
  09;0;0               6.0
  1;1;0                4.0

In [32]:
Lista.tail(10)

              t;entrada;salida
0     91;1;0              99.0
      92;1;0              97.0
      93;1;0              96.0
      94;1;0              97.0
      95;1;0              95.0
      96;1;0              95.0
      97;1;0              97.0
      98;1;0              96.0
      99;1;0              99.0
1;1;0 98                   NaN